body {
  font-family: 'Open Sans', sans-serif;
}

.main-banner {
  background-color: #2f353e;
  height: 80vh;
}

.main-nav {
  background-color: #2f353e;
  height: 55px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.location-string {
  font-size: 14px;
  margin-left: 2vw;
  color: #2f353e;
}

.sub-section-header {
  color: #c0c0c0;
  font-weight: 500;
}

.sub-section-text {
  color: #2f353e;
  font-weight: 500;
}

.sub-menu-link {
  text-decoration: none;
  color: #c0c0c0;
  margin-left: 2vw;
  margin-right: 2vw;
}

.sub-menu-link:hover {
  text-decoration: none;
  color: #3cdc64;
  margin-left: 2vw;
  margin-right: 2vw;
}

.sub-menu-link:active {
  text-decoration: none;
  color: #3cdc64;
  margin-left: 2vw;
  margin-right: 2vw;
}

.page-header {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.repository-info-heading {
  margin-left: 40px;
}

.repo-label {
  color: #a3a3a3;
  margin-right: 10px;
}

.main-banner-heading {
  color: white;
  font-size: 37px;
  font-weight: 500;
  width: 550px;
}

.main-banner-text {
  color: white;
  font-size: 14px;
  margin-top: 40px;
  width: 600px;
}

.login-button {
  background-color: #3cdc64;
  border-radius: 5px;
  width: 220px;
  margin-top: 140px;
}

.login-button-text {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.nav-links-greyed {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 14px;
  margin-top:30px;
  margin-bottom: 15px;
  margin-left: 1vw;
  margin-right: 2vw;
}

.nav-links-greyed:hover {
  text-decoration: none;
  color: #ffffff;
}

.logo-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top:15px;
  margin-bottom: 15px;
}

.section-header {
  color: #2f353e;
  margin-top: 10vh;
}
